{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}"  >
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css'%}"  >
    <link rel="stylesheet" href="{% static 'css/customref.css'%}"  >      
    <title>Refurbisher to Recycler</title>
  </head>
  
  <body>  
		
	<section style="text-align: center; margin-top: 2%;">
    	<h2>Refurbisher_Name</h2>
    	<p>Received from the Manufacturer</p>
    </section>
	
    <section>
      <table>
    	  <tr>
    	    <th>Sr. No.</th>
    	    <th>Laptops</th>
    	    <th> <input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></th>
    	  </tr>
          {% for uid in uidss %}
    	  <tr>
    	    <td>1</td>
            <!-- 0003-0304-0003-0001-0106 0000-0001-0001 -->
    	    <td> {{ uid.uid }} </td>
    	    <td><input type="checkbox" class="checkbox">
    	      <span class="checkmark"></span></td>
    	  </tr>
          {% endfor %}
    	</table>
    </section>


  <!-- <button id="myBtn" class="button"><span>Send to Recycler </span></button> -->
	<button id="myBtn" class="button"><span>Send to Recycler </span></button>

  	<!-- The Modal -->
  	<div id="myModal" class="modal">
	
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Send to Recycler</h1>
        <p>Do you want to send these laptops to the Recycler?</p>
        <div id="modal-button">
					<button id="modal-button-cancel">Cancel</button>
        	<button id="modal-button-confirm">Send to Recycler</button>
				</div>
      </div>
	
    </div>
    
    <script src="{% static 'js/custom.js' %}"></script>
  
  </body>

</html>