{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}
    <section class="page-heading">
        <h2>Register</h2>
    </section>
    
    <section class="form">
        

        <form action="signup" method="post" >
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <input type="submit" class="primary-button" id="form-button" value="Register">
            </div>
            <p style="text-align: center; margin-top: -3%;">Already Registered? <a href="{% url 'login' %}">Login Here</a></p>
        </form>
    {% endblock %}
