{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <nav>
        <!-- <a href="#">Logout</a> -->
    </nav>
    
    <section class="page-heading">
        <h2>Register</h2>
    </section>
    
    <section class="form">
        {% block content %}

        <form action="signup" method="post" >
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <input type="submit" class="primary-button" id="form-button" value="Register">
            </div>
            <p style="text-align: center; margin-top: -3%;">Already Registered? <a href="{% url 'login' %}">Login Here</a></p>
        </form>
        {% endblock %}
    </section>
    <footer>
        Designed & Developed by Group 10
    </footer>   
</body>
</html>